#title{
    text-align: justify;
    margin: 20px 20px 60px 20px;
    border: solid 1px rgb(202, 194, 194);
    border-radius: 10px;
    padding: 5px;
}

#detail{
    text-align: justify;
    margin: 20px;
}