<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Infinite Scroll</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let n of items">
    <img src="https://www.vagalume.com.br/dynimage/news42961-medium.jpg" />
    <ion-card-header>
      <ion-card-subtitle>{{ n.featured }}</ion-card-subtitle>
      <ion-card-title>{{ n.headline }}</ion-card-title>
    </ion-card-header>
  </ion-card>


  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
