<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Notícias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let n of news" (click)="presentModal(n)">
    <img src="https://www.vagalume.com.br/{{ n.pic_src }}" />
    <ion-card-header>
      <ion-card-subtitle>{{ n.featured }}</ion-card-subtitle>
      <ion-card-title>{{ n.headline }}</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>
