<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <ion-card color="primary" id="card-home">
    <ion-card-header>
      <ion-card-subtitle>Bem-vindos ao meu</ion-card-subtitle>
      <ion-card-title>App de notícias!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Acesse a lista de <a href="/folder/Inbox">Notícias</a></p>
    </ion-card-content>
  </ion-card>

</ion-content>
